/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) {
   .class {
      background-color: #3e3e3e;
      border-radius: 15px;
      padding: 10px 10px;
      color: #fff;
      margin-bottom: 10px;
   }

   .class-row {
      display: flex;
      justify-content: space-between;
   }

   .class-title p, 
   .professor-name p,
   .class-desc p {
      margin: 5px 0;
   }

   .class-delete-wrapper {
      text-align: right;
      position: relative;
      top: 10px;
      right: -10px;
   }

   .class-delete-button {
      border-radius: 100%;
      border: none;
      padding: 4px 10px;
      background-color: #c0392b;
      font-weight: bold;
      color: #fff;
   }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1280px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1280px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1281px) {
/* Styles */ 
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}